{% extends "layout.html" %} {% block page_title %} An ATP prototype {% endblock %} {% block content %} {% include "includes/phase_banner_alpha.html" %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/atp">Start</a></li>
      <li><a href="/open-banking">Register for Open Banking</a></li>
      <li><a href="/other-departments">Other Government Departments</a></li>
      <li><a href="">End</a></li>
    </ol>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{% if serviceName %} {{ serviceName }} {% endif %}</h1>

      <p>Thank you for registering to use this service</p>

    </div>

  </div>

</main>

{% endblock %}